body{
    background-color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    width: 100px;
    display: flex;
    justify-content: space-between;
}
.left{
    width: 50px;
}
.logo{
    color: blue;

}
